.footer {
  text-align: center;

  background-color: var(--footer);
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;

  backdrop-filter: blur(var(--blur));

  padding: 2rem 0;
  user-select: none;
}

.container {
  color: white;

  display: flex;
  flex-direction: column;

  .title {
    font-size: var(--font-medium);
  }
}

.container .social {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin: 20px;

  li {
    border-radius: var(--border);
    transition: all 0.2s ease-in-out;
  }

  li a {
    padding: 5px;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  li:hover {
    color: black;
    background-color: white;
  }
}
