@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

:root {
  --font-large: 2rem;
  --font-normal: 1rem;
  --font-small: 0.5rem;

  --blur: 10px;

  --accent: hsl(281, 100%, 46%);
  --primary: hsl(0, 0%, 100%, 0.5);

  /* #002233 #0066FF */
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background: rgb(255, 255, 255);
  /* background-image: url("https://i.ibb.co/MgfQw3V/background-winter.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */

  font-family: "Source Sans Pro";
  font-size: var(--font-normal);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
