.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-left: 1rem;

  grid-template-columns: repeat(2, 1fr);
  text-align: initial;
  align-items: center;
}

.imageWrap {
  justify-self: center;
}

.image {
  border-radius: var(--border);
}

.sectionTitle {
  position: relative;
  font-size: var(--font-medium);
  color: var(--accent);

  text-align: center;
}

.sectionTitle::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--accent);
}

.introductionWrap {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
  font-size: var(--font-large);
  display: flex;
  justify-content: center;
  align-items: center;

  .introduction {
    margin: 20px;
    color: black;
    span {
      color: var(--accent);
    }
  }

  .profileWrap ul {
    color: black;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    border-radius: var(--border);
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);

    li {
      transition: 0.2s ease-in-out;
    }
    li:hover {
      color: var(--accent);
      // background-color: white;
    }
  }
}

@media screen and (max-width: 720px) {
  .introductionWrap {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: start;
  }
  .sectionWrap {
    padding-top: 0;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    text-align: initial;
  }
}
