.nav {
  position: relative;

  background-color: var(--primary);
  backdrop-filter: blur(var(--blur));

  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  transition: all 0.3s ease-in-out;

  user-select: none;

  z-index: var(--z-front);

  // border-bottom: 2px rgb(232, 232, 232) solid;
}

.nav .mobileNav {
  display: none;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .container .titleWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #000;
  text-decoration: none;
  padding: 7px 15px;
  font-weight: bold;
  // transition: 230ms ease-in-out;
}

.nav a:hover {
  border-bottom: 3px var(--accent) solid;
}

@media screen and (max-width: 720px) {
  .nav ul {
    display: none;
  }
  .nav .mobileNav {
    display: initial;
  }
}
