.nav {
  position: sticky;

  background-color: var(--primary);
  backdrop-filter: blur(var(--blur));

  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  transition: all 0.3s ease-in-out;

  user-select: none;

  z-index: var(--z-front);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .titleWrap {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .mobileNav {
    display: none;
  }

  a {
    cursor: pointer;

    color: #000;
    text-decoration: none;
    padding: 7px 15px;
    font-weight: bold;

    &:hover {
      border-bottom: 3px var(--accent) solid;
    }
  }
}

@media screen and (max-width: 720px) {
  .nav ul {
    display: none;
  }
  .nav .mobileNav {
    display: initial;
  }
}
