.nav {
  position: sticky;

  background-color: var(--primary);
  backdrop-filter: blur(var(--blur));

  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  transition: all 0.3s ease-in-out;

  user-select: none;

  z-index: var(--z-front);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .linkWrap {
      padding-right: 20px;
    }
  }

  .burgerNav {
    display: none;
  }

  a {
    cursor: pointer;

    color: #000;
    text-decoration: none;
    padding: 7px 15px;
    font-weight: bold;
  }
}

.item {
  position: relative;
  .underline {
    pointer-events: none;
    will-change: transform;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border-bottom: 3px solid var(--accent);
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    background-color: var(--primary-opaque);
    box-shadow: hsl(0, 0%, 84%) 0 5px 20px;
  }
  .nav .linkWrap {
    display: none;
  }
  .nav .burgerNav {
    display: initial;
  }
}
