.nav {
  position: relative;

  background-color: var(--primary);
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px 0 20px;
  transition: all 0.3s ease-in-out;

  backdrop-filter: blur(var(--blur));
  user-select: none;
}
.nav .mobileNav {
  display: none;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .container .titleWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .container .titleWrap img {
  display: block;
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
  margin: 5px;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.nav a {
  color: #000;
  text-decoration: none;
  padding: 7px 15px;
  font-weight: bold;
  transition: 230ms ease-in-out;
}

.nav a:hover {
  color: var(--accent);
}

@media screen and (max-width: 720px) {
  .nav ul {
    display: none;
  }
  .nav .mobileNav {
    display: initial;
  }
}
