.container {
  width: 100%;
  height: 100vh;
  /* background: radial-gradient(
    circle,
    rgba(9, 9, 121, 1) 0%,
    rgba(2, 0, 36, 1) 79%
  ); */
  flex: 1 1;
}

.scrollUp {
  border-radius: var(--border);
  position: fixed;
  right: 50px;
  bottom: 100px;
  background-color: var(--primary);
  backdrop-filter: blur(var(--blur));

  z-index: 999;

  a {
    padding: 5px;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
