.projectWrap {
  cursor: pointer;

  height: auto;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  overflow: hidden;
  margin-bottom: 2rem;
  background-color: white;
  will-change: transform;

  .imageWrap {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 256px;
    overflow: hidden;
    .image {
      position: absolute;
      object-fit: cover;
      top: 0;
      transition: 0.2s ease-in-out;
    }
  }
  .showDetails {
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--accent);
  }

  .details {
    padding: 10px;
    text-align: center;
  }

  .social {
    border-radius: 0 0 var(--border) 0;
    background-color: white;
    position: absolute;
    z-index: var(--z-front);
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);

    ul {
      gap: 0;
    }
  }

  &:hover,
  &:active {
    .image {
      transform: scale(1.05);
    }
  }
}
