.projectWrap {
  cursor: pointer;
  height: auto;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  overflow: hidden;
  margin-bottom: 2rem;
  background-color: white;

  .image {
    position: absolute;
    top: 0;
    transition: 0.2s ease-in-out;
  }

  .showDetails {
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--accent);
  }

  .details {
    padding: 10px;
    text-align: center;
  }
}

.projectWrap:hover {
  .image {
    transform: scale(1.05);
  }
}
